﻿@model VidPlace.Models.Customer
@{
    ViewBag.Title = "Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>@Model.Name</p>
<p>@Model.MembershipType.MembershipName</p>
<p>@Model.BirthDate.ToShortDateString()</p>

