﻿@model IEnumerable<VidPlace.Models.Customer>
    
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <p>There are no customers</p>
}
else
{   <ul>
    foreach (var c in Model)
    {
        <li>@Html.ActionLink(c.Name, "Detail", "Customers", new { id = c.Id }, null)</li>
    <li>c.BirthDate</li>
    }
    </ul>

}


