﻿@model VidPlace.ViewModels.CustomerMediaViewModel
@{
    ViewBag.Title = "listCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.media.Name</h2>
@{ 

if(Model.customersList.Count == 0)
{
    <p>No Customers</p>
}
else
{
    <p>Customers:</p>
foreach (var item in Model.customersList)
{
    if (item.Name.Contains("Barry"))
    {
        <p style="color:red;"><b>@item.Name</b></p>
    }
    else
    {
        <p>@item.Name</p>
    }

}

}

}
