﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Default.Master.cs" Inherits="EFTimeTracker.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Time Tracker Application</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
   <div style="float:left;width:50%;text-align:left;font-size:16px">TIME TRACKER</div>
    <div style="float:right;width:50%;text-align:right;">
        <asp:Label ID="lbDate" runat="server" Text=""></asp:Label>
    </div>
    <br />
    <form id="form1" runat="server">
        <div style="margin:0 auto; width:50%; align-content:center;">
            <asp:ContentPlaceHolder ID="mainContentPH" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
    &copy 2017 TimeTracker Inc.
</body>
</html>
