﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="header.ascx.cs" Inherits="Exam1.Controls.header" %>
<style type="text/css">
    .auto-style1 {
        width: 200px;
        height: 195px;
    }
    .auto-style6 {
        width: 100%;
    }
    .auto-style7 {
        width: 468px;
    }
    .auto-style8 {
        width: 463px;
        text-align: center;
    }
</style>
<table class="auto-style6">
    <tr>
        <td class="auto-style7">
    <img style="float:left;" alt="" class="auto-style1" src="/img/images.jpg" /></td>
        <td class="auto-style8">
            <h1>Student Information</h1>
        </td>
        <td>
    <asp:Label style="float:right;" ID="lblDate" runat="server"></asp:Label>
        </td>
    </tr>
</table>



