﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="WebApplication2.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            Name:
            <asp:Label ID="lbName" runat="server" Text="Label"></asp:Label>
            <br />
            <br />
            Email:
            <asp:Label ID="lbEmail" runat="server" Text="Label"></asp:Label>
        </div>
    </form>
</body>
</html>
